@media only screen and (max-width:1599px) {
/*----------Banner css Start----------*/
.banner-content { max-width: 43%; padding: 50px 0 50px 30px; flex: 0 0 50%; }
.slider-img { max-width: 67%; padding-right: 30px; flex: 0 0 50%; }
.banner-slider { height: 895px; }
.banner-slider.owl-carousel .slider-img img { max-height: 450px; }
/*----------Banner css End----------*/


/*----------Header css Start----------*/
.header .navbar .navbar-nav li.nav-item { padding: 0 25px; }
.search-field { width: 675px; }
.top-header { font-size: 14px; }
/*----------Header css End----------*/

/*----------Product Detail css Start----------*/
.sort-by { max-width: 165px; width: 100%; }
.handle-counter .btn { width: 45px; }
.handle-counter input { width: 50px; }
/*----------Product Detail css End----------*/
}
 @media only screen and (max-width:1460px) {
/*----------Banner css Start----------*/
.banner-slider { height: 674px; }
.banner-slider h1, .banner-slider h2 { font-size: 4.9375rem; }
.slider-img { max-width: 58%; padding-right: 30px; flex: 0 0 50%; }
.slidegirl img { width: 269px; height: auto; }
.dealsection { padding: 29px 120px 3px 120px; }
.banner-content img { width: 80px; height: 80px; }
.banner-content { padding: 50px 0 50px 30px; }
.slider-img { top: auto; bottom: 152px; }
.banner-slider h1, .banner-slider h2 { padding-bottom: 25px; font-size: 5.75rem; margin-top: -14px; margin-bottom: 16px; }
/*----------Banner css End----------*/


/*----------Product Detail css Start----------*/

.availibily-col { flex-wrap: wrap; }
.handle-counter { width: 154px; }
.sort-by { max-width: 220px; width: 100%; }
.handle-counter .btn { width: 40px; }
.handle-counter input { width: 50px; }
/*----------Product Detail css End----------*/

}
 @media only screen and (max-width:1400px) {
.custom-btn-lg { min-width: 180px; }
:root { font-size: 80%; }
body { font-size: 14px; }
body { padding-top: 158px; }
p { padding-bottom: 15px; line-height: 20px; }
/*----------Header css Start----------*/
.header .navbar .navbar-nav li.nav-item { padding: 0 18px; }
] .search-field {
width: 478px;
margin-left: 30px;
}
.header .logo { width: 150px; padding: 25px 0 }
.header.header-shrink .logo { width: 120px; padding: 22px 0 }
/*----------Header css End----------*/

/*----------Banner css Start----------*/
.banner-slider h1, .banner-slider h2 { padding-bottom: 25px; font-size: 4.75rem }
/*----------Banner css End----------*/


/*----------Popular css Start----------*/
.mid-heading h2::after { top: 12px; }
/*----------Popular css End----------*/

/*----------news letter css Start----------*/
.newsletter-sec .container, .footer .ecommerce-service .container { padding: 0 15px; }
/*----------news letter css End----------*/

/*----------My Account page CSS Start----------*/
.dash-icon { height: 80px; width: 80px; line-height: 80px; margin: 0 auto 15px; }
.dash-link { padding: 20px 15px; margin-bottom: 22px; }
/*----------My Account page CSS End----------*/

/*----------Lisiting css Start----------*/
.left-panel h4 { font-size: 16px; }
.left-panel .card-header { font-size: 15px; }
.catgory-list li a, .product-range li label { font-size: 14px; }
.catgory-list li::before { top: 5px; }
/*----------Lisiting css End----------*/

/*----------Product Detail css Start----------*/
.product-info-list ul li { font-size: 16px; }
/*----------Product Detail css End----------*/
}
@media only screen and (max-width:1199px) {
:root { font-size: 75%; }
.search-field { width: 380px; }
body { padding-top: 169px; }
/*----------Header css Start----------*/
.header .navbar .navbar-nav li.nav-item { font-size: 13px; padding: 0 10px; }
.track-order, .hotline { padding-right: 10px; margin-right: 10px; }
/*----------Header css End----------*/

/*----------Banner css Start----------*/
.banner-slider h1, .banner-slider h2 { padding-bottom: 14px; font-size: 3.75rem; line-height: 2rem; }
.banner-slider { height: 637px; }
.slider-img { top: auto; bottom: 191px; }
.banner-slider.owl-carousel .slider-img img { max-height: 300px; }
.banner-slider p { padding-bottom: 20px; }
.banner-slider .owl-dots { bottom: 22px; }
.banner-slider .owl-dots .owl-dot { height: 15px; width: 15px; margin-right: 4px; }
.hotdeals { width: 170px; height: 153px; bottom: 23.15%; }
.hotdeals::before { position: absolute; left: -58px; top: 51px; content: url(../images/heart1.png); width: 95px; height: 103px; }
.hotdeallnk { font-size: 16px; }
.dealsection { padding: 29px 60px 3px 60px; }
/*----------Banner css End----------*/

/*----------Footer css Start----------*/
.footer ul li { padding-bottom: 10px; font-size: 13px; }
/*----------Footer css end----------*/

/*----------Login css Start----------*/
.dont_account_block ul li a { padding: 5px; font-size: 14px; }
.dont_account_block ul li i { width: 30px; height: 30px; line-height: 30px; font-size: 16px; margin-right: 5px; }
/*----------Login css End----------*/

/*----------My Account page CSS Start----------*/
.dashborad-leftsider { margin-right: 30px; }
.dashborad-rightsider { width: calc(100% - 290px); padding: 25px; }
.dash-icon { height: 70px; width: 70px; line-height: 66px; }
.dash-link { margin-bottom: 18px; }
/*----------My Account page CSS End----------*/

/*----------Cart page CSS Start----------*/
.cart-list { width: 72%; }
.cart-summary { padding: 18px; width: 28%; }
.product-item-name { max-width: 200px; min-width: 200px; }
/*----------Cart page CSS End----------*/

/*----------Lisiting css Start----------*/
.left-panel { max-width: 250px; }
.right-panel { padding-left: 30px; width: calc(100% - 250px); }
.sort-by { max-width: 210px; }
/*----------Lisiting css End----------*/

/*----------Product Detail css Start----------*/
.availibily-col { flex-wrap: wrap; }
.sort-by, .availibily-col .handle-counter, .availibily-col .add-cart-btn { margin-bottom: 10px; }
.handle-counter { width: 132px; }
.sort-by { max-width: 150px; }
.detail-service ul li {
	justify-content: center;
	flex-direction: column;text-align: center;
}
.detail-service ul li i {
	padding-right: 0;
	text-align: center; padding-bottom:15px;
}
/*----------Product Detail css End----------*/


/*----------Sign up Tab css Start----------*/
.signup-sec .nav-tabs .nav-link { padding: 14px 14px 10px; font-size: 15px; }
/*----------Sign up Tab css End----------*/

/*----------Store  page CSS Start----------*/
.listing-slider .owl-dots .owl-dot { height: 15px; width: 15px; margin-right: 4px; bottom: 22px; }
/*----------Store  page CSS End----------*/
}
@media only screen and (max-width:991px) {
body { padding-top: 114px; }
.section { padding-top: 30px; }
.custom-btn-lg { min-width: 150px; line-height: 45px; }
/*----------Header css Start----------*/
.header .logo { width: 120px; padding: 15px 0 }
.header.header-shrink .logo { padding: 15px 0; width: 120px; }
.navbar-toggler i { color: #ea3a3c; font-size: 25px; }
.navbar-toggler { position: absolute; right: 15px; top: -44px }
.banner-slider .owl-dots { padding: 0 15px 0 15px; }
.search-btn-mobile { width: 32px; height: 32px; line-height: 36px; background: #ea3a3c; text-align: center; font-size: 12px; color: #fff; border-radius: 50%; position: absolute; right: 60px; top: 9px; transition: 0.3s ease; cursor: pointer; }
.search-field { display: none; position: absolute; left: 0; right: 0; margin: 0; top: 100%; width: 100%; padding: 0 10px 10px 10px; background: #fff; }
.top-head-col { justify-content: center; }
.top-welcome { text-align: center; }
.header .navbar .navbar-nav li.nav-item:first-child { padding-left: 10px; }
.header .navbar .navbar-nav li.nav-item:last-child { padding-right: 10px; }
.header.header-shrink .navbar .navbar-nav li.nav-item a.nav-link, .header .navbar .navbar-nav li.nav-item a.nav-link { line-height: 32px; }
.header .navbar .navbar-nav li.nav-item a.nav-link::after { display: none; }
.header .navbar .navbar-nav li.nav-item:hover, .header .navbar .navbar-nav li.nav-item.active { background: #19063d; }
.navbar-toggler[aria-expanded="true"] .fa-bars::before { content: "\f00d"; transition: 0.3s ease }
.header-top-right { padding-right: 100px; }
.header-top-right ul li { padding: 0 15px; }
/*----------Header css End----------*/

/*----------Banner css Start----------*/
.banner-slider h1, .banner-slider h2 { padding-bottom: 14px; font-size: 3.75rem; line-height: 2rem; }
.banner-slider { height: 637px; }
.slider-img { top: auto; bottom: 191px; max-width: 60%; }
.banner-content { max-width: 50%; padding: 50px 0 50px 30px; flex: 0 0 50%; }
.banner-slider.owl-carousel .slider-img img { max-height: 300px; }
.banner-slider p { padding-bottom: 20px; }
.banner-slider .owl-dots { bottom: 22px; }
.banner-slider .owl-dots .owl-dot { height: 15px; width: 15px; margin-right: 4px; }
.hotdeals { width: 170px; height: 153px; bottom: 23.15%; }
.hotdeals::before { position: absolute; left: -58px; top: 51px; content: url(../images/heart1.png); width: 95px; height: 103px; }
.hotdeallnk { font-size: 16px; }
.dealsection { padding: 29px 60px 3px 60px; }
.dealsoftheday h3 { font-size: 1.30rem; }
.playvideo { color: #000; font-size: 13px; }
.playvideo img { width: 50px; height: 50px; }
.slidegirl img { width: 213px; height: auto; }
.deal-slider .owl-nav { right: -20px; top: -23px; }
.deal-slider .owl-prev, .deal-slider .owl-next { height: 28px; width: 29px; background-size: 28px !important; }
/*----------Banner css End----------*/

/*----------Footer css Start----------*/
.footer-top { padding: 20px 0 40px; }
.footer h4 { font-size: 14px; }
.footer-top div[class*="col-"]:nth-child(n+3) { margin-top: 30px; }
.ft-logo { width: 75px; }
/*----------Footer css End----------*/

/*----------Popular css Start----------*/
.mid-heading h2::after { top: 10px; }
/*----------Popular css End----------*/

/*----------ecommerce service Start----------*/
.ecommerce-service ul li i { padding-right: 0; padding-bottom: 14px; }
.ecommerce-service ul li { flex-direction: column; text-align: center; }
/*----------ecommerce service End----------*/

/*----------Login css Start----------*/
.dont_account_block ul { display: block !important; }
.dont_account_block ul li { padding: 0 0 10px; }
/*----------Login css End----------*/

/*----------My Account page CSS Start----------*/
.dashborad-leftsider { margin-right: 20px; width: 235px; }
.dashborad-rightsider { width: calc(100% - 255px); }
.dashborad-leftsider > ul > li > a { padding: 12px 10px 12px 20px; }
/*----------My Account page CSS End----------*/

/*----------Cart page CSS Start----------*/
.cart-list { width: 100%; padding: 0; order: 2; }
.cart-summary { width: 100%; margin-bottom: 20px; }
/*----------Cart page CSS End----------*/

/*----------Product Detail css Start----------*/
.product-main-slider { width: 100%; }
.product-main-slider img { width: 100%; }
.product-info-col { padding-left: 0; padding-top: 30px; }
.product-info-col h1 { font-size: 1.9rem; }
/*----------Product Detail css End----------*/

/*----------Sign up Tab css Start----------*/
.signup-sec-block .login_img { text-align: center; margin-bottom: 25px; }
.signup-sec-block { padding: 20px 30px; }
/*----------Sign up Tab css End----------*/

/*----------Conatct page CSS Start----------*/
.contact-info-box ul { display: flex; flex-wrap: wrap; }
.contact-info-box ul li { width: 50%; }
/*----------Conatct page CSS End----------*/

/*----------Store  page CSS Start----------*/
.social-lbl { font-size: 20px; padding-right: 9px; }
.social-icons a i { width: 34px; height: 34px; line-height: 33px; font-size: 15px; margin-left: 2px; }
.store-logo-strip { margin-bottom: 25px; }
.store-enquiry { margin-top: 40px; }
.listing-slider .owl-dots { padding: 0 15px 0 15px; }
/*----------Store  page CSS End----------*/

/*----------Services Category page CSS Start----------*/
.store-box-pic { width: 110px; margin-right: 10px; }
.store-short-detail { width: calc(100% - 110px); display: inline-block; }
.storename h2 { font-size: 2.2rem; }
/*----------Services Category page CSS End----------*/
}
 @media only screen and (max-width:767px) {
body { padding-top: 95px; }
/*----------Header css Start----------*/
.header-top-right { padding-right: 0; width: 100%; padding: 8px 0; text-align: center; display: flex; border-top: 1px solid #dfdfdf; justify-content: center; }
.navbar-toggler, .header-shrink .navbar-toggler { right: 6px; top: 11px; position: fixed; }
.search-btn-mobile { top: 12px; right: 60px; }
.top-header { display: none; }
.search-field { top: 90px; z-index: 9; }
.dropdown-menu {overflow-y: scroll!important; max-height: 50vh!important; overflow-x: hidden!important;}
/*----------Header css End----------*/

/*----------Banner css Start----------*/
.banner-content { max-width: 100%; padding: 50px 0 50px 30px; flex: auto; width: 100%; }
.banner-slider h1 span img { width: inherit !important; display: none !important; }
.banner-slider h1 span { display: inline-block }
.banner-slider h1 span img, .banner-slider h2 span img { display: none }
.banner-slider { padding: 0; height: auto; }
.banner-slider .owl-dots { text-align: center; }
.banner-slider .owl-dots .owl-dot { height: 10px; width: 10px; margin-right: 2px; }
.slider-img { top: auto; bottom: 135px; max-width: 80%; right: -24px; }
.banner-slider h1, .banner-slider h2 { padding-bottom: 10px; font-size: 24px; line-height: 30px; }
.slidegirl { left: -35px; }
.slidegirl img { width: 239px; height: auto; }
.hotdeals { width: 170px; height: 153px; bottom: 21%; }
.dealsoftheday h3 { display: none }
.hotdeals { display: none }
.deal-slider .owl-nav { right: -20px; top: -23px; }
.deal-slider .owl-prev, .deal-slider .owl-next { height: 28px; width: 29px; background-size: 28px !important; }
.dealsection { padding: 29px 30px 3px 30px; }
/*----------Banner css End----------*/


/*----------Footer css Start----------*/
.footer ul li { font-size: 12px; }
.footer .ecommerce-service ul li { width: 50%; border-bottom: 0; }
.pay-pal { margin-bottom: 8px; }
.ft-left { margin-bottom: 10px; text-align: center; }
.footer { margin-top: 30px; }
/*----------Footer css End----------*/

/*----------Popular css Start----------*/
.product-slider .owl-nav { top: -42px; }
/*----------Popular css End----------*/

/*----------Ad mid Start ----------*/
.ad-mid-section img { width: 100%; }
.ad-section { padding: 15px; }
/*----------Ad mid Start End----------*/

/*----------ecommerce service Start----------*/
.ecommerce-service ul { flex-wrap: wrap; justify-content: center; padding-bottom: 3px; }
.ecommerce-service ul li { width: 50%; border-bottom: 1px solid #eaeaea; padding: 15px; }
.ecommerce-service ul li:last-child { border-bottom: 0; }
/*----------ecommerce service End----------*/

/*----------Featured Brands logo css Start----------*/
.logo-sec ul li { width: 20%; }
/*----------Featured Brands logo css End----------*/

/*----------news letter css start----------*/
.newsletter-col { justify-content: center; margin-bottom: 15px; }
.newsletter-col i { width: 38px; }
.newsletter-heading { padding-left: 15px; }
.newsletter-inp { padding-left: 0; }
/*----------news letter css End----------*/



/*----------Login css Start----------*/
.login_img { text-align: center; margin-bottom: 25px; }
.login_form_block { padding: 30px 15px; }
.login_form_right { padding-left: 0; }
/*----------Login css End----------*/

/*----------My Account page CSS Start----------*/
.dashborad-leftsider { margin: 0 0 15px 0; width: 100%; }
.dashborad-rightsider { width: 100%; padding: 20px; }
.dashborad-leftsider > ul > li > a { padding: 12px 10px 12px 20px; font-size: 13px; }
.table thead th { font-size: 13px; }
/*----------My Account page CSS End----------*/

/*----------Cart page CSS Start----------*/
.cart-list { width: 100%; padding: 0; order: 2; }
.cart-summary { width: 100%; margin-bottom: 20px; }
/*----------Cart page CSS End----------*/


/*----------Error page CSS Start----------*/
.error h2 { font-size: 5rem; }
.error h2 span { font-size: 1.5rem; }
.error h3 { font-size: 2rem; }
.error h3 strong { font-size: 2.5rem; }
.error p { font-size: 14px; }
/*----------Error page CSS End----------*/

/*----------Lisiting css Start----------*/
.left-panel { max-width: 100%; background: #fff; padding: 20px; margin-bottom: 25px; border: 1px solid #eaeaea; }
.right-panel { width: 100%; padding: 0px 0 0 0; }
.left-panel .card-header a::before { top: 8px; }
.product-range li { padding-bottom: 5px; }
.radio-custom input[type="radio"] + label { padding: 0 0 0 21px }
.catgory-list li::before { top: 6px; }
.product-slider-list .owl-nav { top: -42px; }
.listing-ad-banner .row [class*="col-"] { margin-bottom: 15px; }
.listing-ad-banner img { width: 100%; }
/*----------Lisiting css End----------*/

/*----------Conatct page CSS Start----------*/
.contact-info-box ul li { width: 100%; }
/*----------Conatct page CSS End----------*/


/*----------terms and conditions page CSS Start----------*/
.cms-page { padding: 30px 0; }
.cms-pages-head { margin-bottom: 15px; }
/*----------terms and conditions page CSS End----------*/

/*----------About us page CSS Start----------*/
.about-sale-box { padding: 30px 20px; }
.about-product-info { margin-bottom: 15px; }
.delivery-features h2 { font-size: 16px; }
.about-product { padding: 30px 0; }
/*----------About us page CSS End----------*/

/*----------Store  page CSS Start----------*/
.store-logo { text-align: center; margin-bottom: 15px; }
.store-social-media { justify-content: center; }
.listing-slider .owl-dots { text-align: center; }
.listing-slider .owl-dots .owl-dot { height: 10px; width: 10px; margin-right: 2px; }
/*----------Store  page CSS End----------*/


/*----------Services Category page CSS Start----------*/
.services-categories .card { padding-top: 15px; overflow-x: scroll; max-height: 200px; }
/*----------Services Category page CSS End----------*/

}
@media only screen and (max-width:575px) {
/*----------Header css Start----------*/
.header-top-right ul li a { font-size: 12px; padding-left: 30px; }
.header-top-right ul li a i { font-size: 11px; width: 25px; }
/*----------Header css End----------*/

/*----------Ad mid Start Start----------*/
.ad-mid-section div[class*="col-"]:nth-child(n+2) { margin-top: 10px; }
/*----------Ad mid Start End----------*/

/*----------Banner css Start----------*/
.banner-slider { padding-bottom: 0; background-size: cover; min-height: 680px; }
.banner-content { max-width: 100%; padding: 50px 0 50px 0; width: 100%; z-index: 1; position: relative; }
.slider-img { padding-right: 0; flex: 0 0 100%; max-width: 100%; order: -1; bottom: 120px; right: inherit }
.banner-slider.owl-carousel .slider-img img { max-width: 100%; margin: 0 auto; }
.dealsoftheday h3 { display: none }
.hotdeals { display: none }
.dealsoftheday { width: 97vw; }
.deal-slider .owl-nav { right: -20px; top: -23px; }
.slidegirl { display: none }
.custom-btn-lg { padding: 0 52px 0 23px; }
.playvideo { display: block; margin-top: 17px; }
/*----------Banner css End----------*/


/*----------Featured Brands logo css Start----------*/
.logo-sec ul li { width: 50%; }
/*----------Featured Brands logo css End----------*/

/*----------My Account page CSS Start----------*/
.dash-icon { height: 65px; width: 65px; line-height: 60px; }
.dash-link { padding: 15px; margin-bottom: 10px; }
/*----------My Account page CSS End----------*/

/*----------Cart page CSS Start----------*/
.cart-button .custom-btn { padding: 0 8px; font-size: 1.1rem; }
/*----------Cart page CSS END----------*/

/*----------Lisiting css Start----------*/
.sort-by { max-width: 100%; }
.mid-heading h2 { padding-bottom: 15px; }
/*----------Lisiting css END----------*/

/*----------Product Detail css Start----------*/
.availibily-col .handle-counter { margin-left: 0; margin-right: 10px; }
.sort-by { margin-bottom: 20px; }
.custom-tabs .nav-tabs .nav-link { padding: 20px 5px }
.add-cart-btn .custom-btn { padding: 0 18px; }
.product-info-list ul li label { min-width: inherit; width: 100%; padding: 0 0 7px 0; }
.tab-product-detail { padding-top: 20px; }
/*----------Product Detail css End----------*/

/*----------Sign up Tab css Start----------*/
.signup-sec .nav-tabs .nav-link { padding: 14px 4px 10px; font-size: 13px; }
/*----------Sign up Tab css End----------*/

/*----------Conatct page CSS Start----------*/
.contact-info-box ul li { width: 100%; }
.white-shad { padding: 30px 20px }
.contact-info-box ul li i { width: 44px; height: 44px; line-height: 44px; }
.contact-info-box ul li span { padding-top: 0; }
.contact-info-box h2, .contact-form .form-heading h2 { font-size: 20px; }
/*----------Conatct page CSS End----------*/


/*----------Store  page CSS Start----------*/
.store-social-media { justify-content: center; display: flex; flex-direction: column; }
.social-lbl { font-size: 18px; padding-right: 0; margin-bottom: 5px; }
.listing-slider.services-banner.owl-carousel .slider-img img { max-width: 100%; height: 250px; object-fit: cover; }
/*----------Store  page CSS End----------*/


/*----------Services Category page CSS Start----------*/
.store-box-pic { width: 100%; margin-right: 0; }
.store-box { flex-wrap: wrap; padding: 10px; }
.store-short-detail { width: 100%; display: inline-block; margin-top: 17px; }
.store-box-pic img { width: 100%; }
.banner-slider.services-banner.owl-carousel .slider-img img { max-width: 100%; height: 250px; object-fit: cover; }
.storename h2 { font-size: 2rem; }
.banner-slider.services-banner .owl-dots { bottom: 45px; }
.store-address p { line-height: 21px; font-size: 14px; }
.store-card h2 { margin: 0 0 10px 0; }
.store-card { margin-bottom: 20px; }
/*----------Services Category page CSS End----------*/
}
 @media only screen and (max-width:359px) {
/*----------Sign up Tab css Start----------*/
.signup-sec .nav-tabs .nav-link { padding: 14px 4px 10px; font-size: 13px; }
.signup-sec .nav-tabs .nav-item { margin-bottom: 0px; width: 50%; text-align: center; border-right: 0 !important }
/*----------Sign up Tab css End----------*/

/*----------Banner css Start----------*/
.header-slider .item { height: 650px; }
.slider-img { bottom: 94px; }
/*----------Banner css End----------*/
}
